#agenda .container-fluid {
  @media screen and (min-width: 576px) {
    padding-right: 0;
  }
}

.agenda-date {
  text-align: center;
  border-bottom: #FFF 8px solid;
  padding: 1em;
  margin: 0 1em 1em;
  color: $secondary-color;

  @media screen and (max-width: 576px) {
    margin: 0 0 1em 0;
  }

  &.active {
    border-bottom: $secondary-color 8px solid;
  }
}

.session ul {
  list-style: none;
  margin-top: .6em;
  margin-bottom: .6em;
  padding: 0;

  li {
    text-align: right;
  }
}

.session-row {
  margin-top: 10px;
}

.session-number {
  font-size: .8em;
  color: $primary-color-light;
  text-transform: uppercase;
}

.session-time {
  font-size: 1.2em;
}

.session-duration {
  font-size: .4em;
  color: $gray-light;
}

.session-topic {
  height: 100%;
  text-align: left;
  padding: .8em;
  color: $secondary-color;
  background-color: lighten($primary-color, 32%);
}