.photo {
  background: url('/img/angela.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 100%;
}

#angelas_message {
  padding: 0;

  .photo-container {
    padding-left: 0;
  }

  .section-title {
    margin-top: 3rem;
    text-align: left;

    @media screen and (max-width: 576px) {
      text-align: center;
    }
  }

  .section-sub-title {
    text-align: left;

    @media screen and (max-width: 576px) {
      text-align: center;
    }
  }
}

.message {
  font-size: .8em;
  color: $gray;
  margin: 3em 0;
  position: relative;
  padding: 1em 3em;

  &::before {
    content: '“';
    color: $gray-lighter;
    font-size: 4em;
    position: absolute;
    left: 0;
    top: 0;
  }

  &::after {
    content: '”';
    color: $gray-lighter;
    font-size: 4em;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}